
$color-principal01: #7D5A50;
$color-principal02: #B4846C;
$color-principal03: #E5B299;
$color-principal04: #FCDEC0;

$tipografia01: 'Roboto', sans-serif;
$tipografia02:'Anek Malayalam', sans-serif;

